#root {
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

table {
  width: 100%;

border-radius: 4px;
}



.title{
  text-align: left;
}
.inputs{
  text-align: right;
}
td{
  max-width: 300px;
  padding: 2px;
  text-align: left;
  border: 1px solid  rgb(0, 0, 0);

}
.header-cell{
border: 1px solid black;
}
.formulario{
align-items: center

}

.next-comment{
  text-align: center;
}

select {
  display: inline-block;
}

::-webkit-scrollbar {
  display: none;
}

.email{

  min-width: 250px;
}

.nombre_funcionario{
  min-width: 250px;

}

.unidad_academica{
  min-width: 250px;
}