#root {
  margin-left: 2%;
  
}
th{
background-color: #BFBFBF;
}

#nombre_funcionario{
  text-align: left;
  
}

.all-page{
  width: 90%;
  align-items: center;
}

.main-header{
  position: static;
  top: 1;
  text-align: left;
  margin-left: 5%;
}


body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  
}

.formulario{
  margin-left: 1%;
  width: 90%;
}
.main-inputs{
  border: 1px solid black;
  text-align: center;
  align-items: center;
}
.jornada-inputs{
  width: 100%;
  text-align: center;
  height: 75%;
}
#logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1%;/* Opcional: añade margen para dejar espacio alrededor del logo */
}


.Main-logo{
  width: 300px;
}

.tabla {
font-size: 14px;
border-radius: 4px;
}

.tabla2 {
  font-size: 14px;
  border-radius: 4px;
  }
  

.sub-headers{
  
  width: 100%;
}
.sub-headers td{
 text-align: center;
}

.time-picker{
  min-width: 105%;
  font-size: 14px;
}

input {
  height: 20px;
  font-size: 14px;
}

td{
  border: 1px;
  min-width: 100%;
  max-height: 40px;
  padding: 5px;
  text-align: left;
  font-size: 14px;
}
th {
  border: 1px solid  rgb(0, 0, 0);
}

.header-cell{
  padding: 5px;
border: 1px solid rgb(0, 0, 0);
width: 16.6%;
}

.separator{
  border: 1px solid black;
}

.next-comment{
  text-align: left;
  font-size: 17px;
}

select {
  display: inline-block;
  font-size: 14px;
}

::-webkit-scrollbar {
  display: none;
}

.date-line{
  align-items: center;
  width: 100%;
}
.date{
  text-align: center;
  min-width: 100%;
  font-size: 100%;
}

.range{
  width: 50%;
}
.date-picker{
  border: 1px solid black;
}

.header-inputs{
  text-align: left;
  width: 200px;
  display: inline-flexbox;
}

.header-text{
text-align: right;
padding-left: 17%;
}

.header-text2{
  text-align: right;
  padding-left: 30%;
  }

#vigencia-head{
  width: 120px;
  align-items: center;
}